@import "tailwindcss";
@tailwind utilities;

html {
  -ms-overflow-style: none;  
  scrollbar-width: none;    
}
::-webkit-scrollbar {
  display: none;
}

/* reno tema*/


@layer base {
  :root {
    --color-primary: 59 130 246; /* blue-500 */
    --color-secondary: 139 92 246; /* violet-500 */
  }
  
  .dark {
    --color-primary: 96 165 250; /* blue-400 */
    --color-secondary: 167 139 250; /* violet-300 */
  }
}